---

---

<div class="header">
    <a href="/">Home</a>
    <a href="/shopping/">Shopping</a>
    <a href="/about/">About</a>
</div>

<style lang="scss">
    .header{
        width: 100vw;
        height: 60px;
        background-color: black;
        justify-content:space-evenly;
        display: flex;
        align-items: center;
        a{
            color: white;
            text-decoration: none;
        }
    }
</style>