---

---
<div class="nav flex">
    stand with ukriane
</div>
<div class="header">
    <a href="/">Home</a>
    <a href="/about/">cart</a>
</div>

<style lang="scss">
    .nav{
        height: 30px;
        width: 100vw;
        background: linear-gradient( 90deg ,rgb(94, 94, 229), rgb(185, 7, 170));
        color: white;
    }
    .header{
        width: calc(100vw - 100px);
        height: 80px;
        border-bottom: 1px solid #b9b9b9;
        justify-content:space-between;
        display: flex;
        align-items: center;
        padding: 0 50px;
        position: sticky;
        background-color: white;
        top: 0;
        a{  
            color: black;
            text-decoration: none;
        }
    }
</style>